<h1>I/OMaero</h1>

<h2>Usage</h2>
<pre>curl -F file=@my_picture.png http://io.maero.dk/new
<i>http://io.maero.dk/7f8cce451a4aeb91d7abc4e15ae9d0a3</i></pre>

<br />

<h2>Supports</h2>
.swf, .png, .mp3, .jpg and .gif
