<%h content_for :title, "Application: #{@content.sid}" %>
<div class="box">
  <object type="application/x-shockwave-flash" data="/<%= @content.file %>" width="640" height="480"> 
    <param name="movie" value="/<%= @content.file %>" /> 
    <param name="quality" value="high"/> 
  </object> 
</div>
